certifi==2024.6.2
charset-normalizer==3.3.2
environs==11.0.0
idna==3.7
marshmallow==3.21.3
packaging==24.1
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6-sip==13.6.0
python-dotenv==1.0.1
redis==5.0.7
requests==2.32.3
spotipy==2.24.0
urllib3==2.2.2
